pkgbase = go-focus-bin 
	pkgdesc = Focus is a cross-platform productitivy timer for the command line written in Go.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ayoisaiah/focus
	arch = x86_64
	license = MIT
	provides = focus
	conflicts = focus
	options = !strip
	source = go-focus-bin-1.0.0.tar.gz::https://github.com/ayoisaiah/focus/releases/download/v1.3.0/focus_1.0.0_linux_amd64.tar.gz
	source = https://raw.githubusercontent.com/ayoisaiah/focus/v1.0.0/LICENCE
	b2sums = 7cd0f33dbbd6bb1d13a7e88eec5445403d486347b18b766ef700af31cb206f3d163dfe2f27566b2ce1cd105ebef38afc4085054e680764b2fefeb110b8eb71fb
	b2sums = 7a49fea208594d33650a9c7cf7e65b90ffc1cf10dc88cf8a8fdc70d246e26b40276c1340277961caf6a0d80a204f184340d91c9bd163b3c827d09cef31fed710

pkgname = go-focus-bin
